<div class='mt-4'>
    <div class='container'>
        <div
            id='carouselExampleAutoplaying'
            class='carousel slide'
            data-bs-ride='carousel'
        >
            <div class='carousel-inner'>
                <div class='carousel-item active'>
                    <img
                        src='https://prod-contents-banner.akamaized.net/ebook-campaign/52977/52977_banner_big.jpg?1737450563'
                        class='d-block w-100'
                        alt='...'
                    />
                </div>
                <div class='carousel-item'>
                    <img
                        src='https://prod-contents-banner.akamaized.net/ebook-campaign/53132/53132_banner_big.jpg?1737981322'
                        class='d-block w-100'
                        alt='...'
                    />
                </div>
                <div class='carousel-item'>
                    <img
                        src='https://prod-contents-banner.akamaized.net/ebook-campaign/53295/53295_banner_big.jpg?1737709316'
                        class='d-block w-100'
                        alt='...'
                    />
                </div>
            </div>
            <button
                class='carousel-control-prev'
                type='button'
                data-bs-target='#carouselExampleAutoplaying'
                data-bs-slide='prev'
            >
                <span
                    class='carousel-control-prev-icon'
                    aria-hidden='true'
                ></span>
                <span class='visually-hidden'>Previous</span>
            </button>
            <button
                class='carousel-control-next'
                type='button'
                data-bs-target='#carouselExampleAutoplaying'
                data-bs-slide='next'
            >
                <span
                    class='carousel-control-next-icon'
                    aria-hidden='true'
                ></span>
                <span class='visually-hidden'>Next</span>
            </button>
        </div>
        <div class='row mt-4'>
            <div class='col title-home'>
                {{category.name}}
                <svg
                    xmlns='http://www.w3.org/2000/svg'
                    width='30'
                    height='30'
                    fill='currentColor'
                    class='bi bi-fire'
                    viewBox='0 0 16 16'
                >
                    <path
                        d='M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16m0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15'
                    />
                </svg>
            </div>
            <div class='col'>
                <button
                    type='button'
                    class='btn btn-secondary btn-lg button-all'
                >全部</button>
            </div>
        </div>
    </div>
    <div class='row'>
        {{#each courses}}
            <div class='col-sm-6 col-lg-3 mt-3'>
                <div class='card'>
                    <a href='/courses/{{this.slug}}'>
                        <img
                            src='{{this.image}}'
                            class='card-img-top image-card'
                            alt='{{this.name}}'
                        />
                    </a>
                    <div class='card-body'>
                        <a
                            href='/courses/{{this.slug}}'
                            class='card-course-item'
                        >
                            <h2 class='card-title'>{{this.name}}</h2>
                        </a>
                        <p class='card-text'>{{this.description}}</p>
                        <a href='#' class='btn btn-primary'>View</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>